<nav>
    <div class="row expanded column">
        <a href="#" class="menu-toggle">
            <i class="icon-menu"></i>
        </a>
{#         <ul class="menu hide-for-small-only">
            {% for item in menu.get_items %}
                <li class="nav-main-item {{item.classes | join(' ')}}">
                    <a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                </li>
            {% endfor %}
        </ul> #}
        <a href="{{ site.url }}" class="menu-logo">
            <img src="{{ site.url }}/wp-content/themes/orourke-twig/assets/images/orourke-logo-white.svg" alt="" style="height: 30px; width: 200px; margin: 0.7em 0;">
        </a>
    </div>
</nav>