<ul class="pagination text-center" role="navigation" aria-label="Pagination">

  {% for page in pagination.pages %}
      <li class="{% if not page.link %}current{% endif %}">
          {% if page.link %}
              <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
          {% else %}
              <span class="{{page.class}}">{{page.title}}</span>
          {% endif %}
      </li>
  {% endfor %}

  {# {% if pagination.next %} #}
    <li class="pagination-next {{pagination.next.link|length ? '' : 'disabled'}}">
        <a href="{{pagination.next.link}}">Next</a>
    </li>
  {# {% endif %} #}
</ul>