{% extends "templates/base.twig" %}

{% block content %}

    {% for post in posts %}

        {% include 'templates/partials/hero.twig' %}

        <section class="padding">
        	<div class="row column text-center medium-10 medium-centered">
		        {{ post.content }}
        	</div>
        </section>

        <section class="team">
        	<div class="row expanded column text-center" style="padding: 0 0.1em;">
        		<h5>Leadership</h5>
        	</div>
        	<div class="row expanded grid small-up-1 medium-up-3">
				{% for item in leadership|sort('order') %}
					<div class="column text-center">
                        <a href="{{ item.link }}">
                            <div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
                                <div class="table">
                                    <div class="cell overlay">
                                        <div class="padding">
											<h4>
												{{ item.title }}
											</h4>
											<p style="color:#fff;line-height:1;">
												{{ item.job_title }}
											</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
				{% endfor %}
        	</div>
        </section>

        <section class="team">
        	<div class="row expanded column text-center" style="padding: 0 0.1em;">
        		<h5>Our Team</h5>
        	</div>
        	<div class="row expanded grid small-up-1 medium-up-3">
				{% for item in team_members %}
					<div class="column text-center">
                        <a href="{{ item.link }}">
                            <div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
                                <div class="table">
                                    <div class="cell overlay">
                                        <div class="padding">
											<h4>
												{{ item.title }}
											</h4>
											<p style="color:#fff;line-height:1;">
												{{ item.job_title }}
											</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
				{% endfor %}
        	</div>
        	<div class="row column text-center padding">
        		<a href="#" class="button hollow">Join Our Team <i class="icon-arrow-right"></i></a>
        	</div>
        </section>


    {% endfor %}

{% endblock %}