{% extends "templates/base.twig" %}

{% block content %}
    {% for post in posts %}

       <section id="hero" data-bg="{{ post.thumbnail }}" class="cover" style="height:auto;">
            <div class="overlay table">
                <div class="cell text-center" style="padding: 12em 0 10em;">
                    <h1>
                        {{ post.title }}
                    </h1>
                </div>
            </div>
        </section>

        <section class="padding">
            <div class="row">
            	<div class="column medium-10 medium-centered">
    		        {{ post.content }}
            	</div>
            </div>
        </section>

        <div class="row column text-center">
            <h4>Related Work</h4>
        </div>
        <div class="row expanded small-up-1 medium-up-3 grid">
            {% for item in related_work %}
                <div class="column text-center">
                    <a href="{{ item.link }}">
                        <div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
                            <div class="table">
                                <div class="cell overlay">
                                    <div class="padding">
                                        <h4>
                                            {{ item }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row column text-center">
            <h4 style="margin-top: 2em;">Related Articles</h4>
        </div>
        <div class="row expanded small-up-1 medium-up-3 grid">
            {% for item in related_articles %}
                <div class="column text-center">
                    <a href="{{ item.link }}">
                        <div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
                            <div class="table">
                                <div class="cell overlay">
                                    <div class="padding">
                                        <h4>
                                            {{ item }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}