{% extends "templates/base.twig" %}

{% block content %}
    {% for post in posts %}

       <section id="hero" data-bg="{{ post.thumbnail }}" class="cover" style="height:auto;">
            <div class="overlay table">
                <div class="cell text-center" style="padding: 12em 0 10em;">
                    <h1>
                        {{ post.title }}
                    </h1>
                </div>
            </div>
        </section>

        <section class="padding">
            <div class="row">
            	<div class="column medium-8">
    		        {{ post.content }}
            	</div>
                <div class="column medium-4">
                    <h4>Related Work</h4>
                    <ul>
                        {% for item in related_work %}
                            <li>
                                <a href="{{ item.link }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <h4>Related Articles</h4>
                    <ul>
                        {% for item in related_articles %}
                            <li>
                                <a href="{{ item.link }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}