{% extends "templates/base.twig" %}

{% block content %}

    {% include 'templates/partials/hero.twig' %}

    <section class="padding">
    	<div class="row column text-center">
    		<select name="intelSelect" id="intelSelect" class="medium-6">
    			<option value="" disabled selected>EXPLORE</option>
    			{% for category in categories %}
					<option value="{{ site.url }}?cat={{ category.term_id }}">{{ category.cat_name }}</option>
    			{% endfor %}
    		</select>

    		<script>
			    jQuery(function(){
			      jQuery('#intelSelect').on('change', function (event) {
			      	event.preventDefault();
		              window.location = $(this).val();
			          // return false;
			      });
			    });
			</script>
    	</div>
{#     	<div class="menu-centered">
    		<ul class="menu categories">
    			{% for category in categories %}
					<li class="{% if category.cat_name == category_title %}active{% endif %}"><a href="{{ site.url }}?cat={{ category.term_id }}">{{ category.cat_name }}</a></li>
    			{% endfor %}
    		</ul>
    	</div> #}
    </section>

	<section class="intel">
		<div class="row expanded collapse small-up-1 medium-up-2 large-up-3 grid" style="padding:0.1em 0.1em 0;">
			{% for item in posts %}
				<div class="column text-center grid-item">
					<a href="{{ item.link }}">
						<div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
							<div class="table">
								<div class="cell overlay">
									<div class="padding">
										<h6>
											{# {{ categories[loop.index0 % 3].cat_name }} #}
											{# {{ item.categories }} #}
											{{ item.category }}
										</h6>
										<h4>
											{{ item }}
										</h4>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
			{% include 'templates/partials/pagination.twig' %}
		</div>
{# 		<div class="row column text-center">
			<a href="#" class="button hollow black">
				View More Posts <i class="icon-arrow-right"></i>
			</a>
		</div> #}


	</section>

	<style type="text/css">
		.jscroll-inner .pagination {
			display: none;
		}
	</style>


{% endblock %}