{% extends "templates/base.twig" %}

{% block content %}

    {% include 'templates/hero.twig' %}

    <section class="padding">
    	<div class="menu-centered">
    		<ul class="menu categories">
    			{% for item in categories %}
					<li><a href="#">{{ item }}</a></li>
    			{% endfor %}
    		</ul>
    	</div>
    </section>

	<section class="intel">
		<div class="row expanded collapse small-up-1 medium-up-3 grid" style="padding:0.1em;">
			{% for item in posts %}
				<div class="column text-center">
					<a href="{{ item.link }}">
						<div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
							<div class="table">
								<div class="cell overlay">
									<div class="padding">
										<h6>
											{{ categories[loop.index0 % 3] }}
										</h6>
										<h4>
											{{ item }}
										</h4>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
		<div class="row column text-center">
			<a href="#" class="button hollow black">
				View More Posts <i class="icon-arrow-right"></i>
			</a>
		</div>
	</section>
{% endblock %}