{% extends "templates/base.twig" %}

{% block content %}
    {% for post in posts %}
       <section id="hero" data-bg="{{ post.thumbnail|resize(1000,600) }}" class="parallax">
            <div class="overlay table">
                <div class="cell text-center">
                    <h1>
                        {{ post.title }}
                    </h1>
                </div>
            </div>
            <a href="#content" class="scroll-down">
                <img src="{{ site.url }}/wp-content/themes/orourke-twig/assets/images/arrow_vector.svg" alt="">
            </a>
        </section>

        <section class="padding" id="content">
            <div class="row">
            	<div class="column medium-10 medium-centered">
    		        {{ post.content }}
            	</div>
            </div>
        </section>

        <div class="row expanded column text-center" style="padding: 0 0.1em;">
            <h5>Related Work</h5>
        </div>
        <div class="row expanded small-up-1 medium-up-3 grid">
            {% for item in related_work %}
                <div class="column text-center">
                    <a href="{{ item.link }}">
                        <div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
                            <div class="table">
                                <div class="cell overlay">
                                    <div class="padding">
                                        <h4>
                                            {{ item }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="row expanded column text-center" style="padding: 0 0.1em;">
            <h5>Related Articles</h5>
        </div>
        <div class="row expanded small-up-1 medium-up-3 grid">
            {% for item in related_articles %}
                <div class="column text-center">
                    <a href="{{ item.link }}">
                        <div class="item cover" data-bg="{{ item.thumbnail.src|resize(600,600) }}" style="margin:0.1em;">
                            <div class="table">
                                <div class="cell overlay">
                                    <div class="padding">
                                        <h4>
                                            {{ item }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}